.contents {
    display: flex;
    justify-content: center;
    margin: 60px;
}

.poet {
    margin-right: 100px;
}

.poems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eng {
    text-align: left;
    color:#E25548;
}

.rom {
    text-align: right;
}

.eng, .rom {
    padding: 20px;
    line-height: 2;
}

.pnav button {
    margin: 30px;
    width: 150px;
	padding: 10px;
	background-color: white;
	opacity:0.9;
	color:#E87C7C;
	border: 2px solid #E87C7C;	
}

.home button {
    width: 150px;
	padding: 10px;
	background-color: #E87C7C;
	color: white;
	border: 2px solid white;	
}

button:hover {
    cursor: pointer;
}