.contents {
    border: 3px solid #EABF32;	
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 40px 0;
    font-size: 14px;
}

.poet {    
    box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.eng {
    text-align: center;
    color:#E25548;
}

.rom {
    text-align: center;
}

.pnav {
    margin: 40px 10px 20px 10px;
}

.pnav button {
    width: 100px;
	padding: 10px;
	background-color: white;
	opacity:0.9;
	color:#E87C7C;
    border: 2px solid #E87C7C;	
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.home button {
    width: 100px;
	padding: 10px;
	background-color: #E87C7C;
	color: white;
    border: 2px solid white;	
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media screen and (min-width: 768px) {
    .contents {
        display: flex;
        justify-content: space-between;
        margin: 60px 300px;
        padding: 40px 80px;
        font-size: 19px;
    }
    
    .poems {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .eng {
        text-align: left;
        color:#E25548;
    }
    
    .rom {
        text-align: right;
    }
    
    .eng, .rom {
        padding: 20px;
        line-height: 2;
    }

    .pnav {
        margin: 40px 10px;
    }

    .pnav button {
        width: 150px;
    }    

    .home button {
        width: 150px;
    }
}



button:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}